.GameBoard {
  display: flex;
  flex-direction: column;
  padding: 0;
  max-width: 1024px;
  max-height: 728px;
  box-sizing: border-box;
  position: relative;
  bottom: 250px;
}

.first-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.second-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.card-container {
  width: 100px;
  height: 140px;
  margin-right: 20px;
  position: relative; /* Position relative for background */
}

.first-row .card-container:last-child {
  margin-right: 0;
}

.tableau-column {
  position: relative;
  width: 100px;
  height: auto;
  margin: 0;
}

.tableau-cards {
  position: absolute;
}

.card-background-deck {
  position: absolute; /* Make the deck background behave like the tableau background */
  top: 0;
  left: 0;
  width: 100px;
  height: 140px;
  z-index: 2;
}

.card-background {
  position: absolute;
  width: 100px;
  height: 140px;
  z-index: 2;
}

.card-background-tableau {
  position: absolute;
  width: 100px;
  height: 140px;
  z-index: 2;
}

/* Dynamic stacking based on cardIndex */
.card-0 {
  top: 0px;
}

.card-1 {
  top: 15px;
}

.card-2 {
  top: 30px;
}

.card-3 {
  top: 45px;
}

.card-4 {
  top: 60px;
}

.card-5 {
  top: 75px;
}

.card-6 {
  top: 90px;
}

.card-border {
  width: 100px;
  height: 140px;
  position: absolute;
  z-index: 2; /* Ensure it is above the background */
}

.deck-cover {
  position: absolute;
  width: 100px;
  height: 140px;
  z-index: 2; /* Ensure it is above the background */
}

.empty-space {
  width: 100px;
}
