.GameBoard {
  display: flex;
  flex-direction: column;
  padding: 0;
  max-width: 1024px;
  max-height: 728px;
  box-sizing: border-box;
  position: relative;
  bottom: 250px;
}

.first-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.second-row {
  display: flex;
  width: 100%;
}

.card-container {
  width: 100px;
  height: 140px;
}

.card-spot {
  width: 100px;
  height: 140px;
  margin-right: 20px;
}

.card-spot-blank {
  width: 100px;
  height: 140px;
  margin-right: 20px;
}

.tableau-column {
  position: relative;
  width: 100px;
  margin-right: 20px;
}

.tableau-cards {
  position: absolute;
}

.card-front {
  width: 100px;
  position: absolute;
}

.svg-0 {
  z-index: -99;
}

.deck-cover {
  position: absolute;
  width: 100px;
  height: 140px;
  z-index: 1;
}

.deck-cover-svg {
  position: absolute;
  width: 100px;
  height: 140px;
  z-index: 2;
}

.card-background {
  position: absolute;
  width: 100px;
  height: 140px;
}


/* Dynamic stacking based on cardIndex */
.card-0 {
  z-index: 0;
  top: 0px;
}

.card-1 {
  z-index: 1;
  top: 15px;
}

.card-2 {
  z-index: 2;
  top: 30px;
}

.card-3 {
  z-index: 3;
  top: 45px;
}

.card-4 {
  z-index: 4;
  top: 60px;
}

.card-5 {
  z-index: 5;
  top: 75px;
}

.card-6 {
  z-index: 6;
  top: 90px;
}

.card-border {
  position: relative;
  width: 100px;
  height: 140px;
  z-index: 8;
}

.empty-space {
  width: 100px;
}
