.GameBoard {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 7 equal columns */
  gap: 10px; /* Adjust spacing between SVGs */
  justify-content: center; /* Center the grid */
  width: 100%; /* Takes full width */
  margin: 0 auto; /* Center the grid horizontally */
}

.card-container {
  position: relative;
  width: 100%;
  max-width: 100px; /* Set max size for the card */
  aspect-ratio: 2 / 3; /* Maintain card aspect ratio */
}

/*  */
.svg-item {
  position: relative;
  width: 100%;
  height: auto;
  object-fit: contain; /* Ensure the SVG scales within its container */
  z-index: 1; /* Place SVG on top of the background */
}
